<h1>
  {{ heroe.nombre | uppercase }}
  <small class="text-muted">
    ({{ heroe.aparicion | date : "dd-MM-YYYY" }})</small
  >
</h1>
<hr />

<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre" />
    <br /><br />
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger w-100">
      Regresar
    </a>
  </div>

  <div class="col-md-8">
    <h3>{{ heroe.nombre }}</h3>
    <hr />
    <p>{{ heroe.bio }}</p>

    <div *ngIf="heroe.casa === 'DC'; else Marvel">
      <img src="assets/img/dc-folder.png" width="100" alt="DC" />
    </div>

    <ng-template #Marvel>
      <img src="assets/img/marvel-folder.png" width="100" alt="Marvel" />
    </ng-template>
  </div>
</div>
